<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
				<img src="assets/logo.svg" alt="ngx-iban logo" class="logo">
			</div>
			<div class="col-sm-8 text-center text-md-left">
				<h1>ngx-iban</h1>
				<p>Angular directive for validating IBAN input fields.</p>
				<p>Scroll down to see it in action!</p>
				<p class="buttons">
					<a class="btn btn-outline-primary btn-lg" href="https://github.com/mmjmanders/ngx-iban" target="_blank"><i class="fa fa-github fa-lg"></i>  Code on Github</a>
        		</p>
			</div>
		</div>

	</div>
</div>

<section class="home">
  <div class="container">
	  	<h2>Enter an IBAN number here</h2>
		<input type="text" [ngxIban]="iban" [(ngModel)]="iban">
  </div>
</section>
