<div class="row">
  <div class="col">
    <section>
      <h1>Installation and usage</h1>
      This page described the installation and usage of the
      <code>ngx-iban</code> component.
    </section>
    <section>
      <h2>Installation</h2>
      Just use your favorite package manager to install <code>ngx-iban</code> and <code>ibantools</code>.
    </section>
    <section>
      <h2>Usage</h2>
      <h3>Directive</h3>
      <pre><code class="language-typescript" highlight>import {{'{'}} Component &#125; from "&#64;angular/core";
import {{'{'}} IbanDirective &#125; from "ngx-iban";

&#64;Component({{'{'}}
  imports: [IbanDirective],
  selector: "my-component",
  template: `
    &lt;form&gt;
      &lt;input type="text" [(ngModel)]="iban" ngxIban&gt;

      &lt;!-- Or with an ISO 3166-1 alpha-2 country code --&gt;
      &lt;input type="text" [(ngModel)]="iban" ngxIban="NL"&gt;

      &lt;!-- Or in a reactive form --&gt;
      &lt;input type="text" [formControl]="iban" ngxIban&gt;
    &lt;/form&gt;
  `
&#125;)
export class MyComponent {{'{'}}&#125;</code></pre>
      <h3>Pipe</h3>
      <pre><code class="language-html" highlight>&lt;span&gt;{{'{'}}{{'{'}} 'GB82WEST12345698765432' | iban &#125;&#125;&lt;/span&gt;</code></pre>
      becomes
      <pre><code class="language-html" highlight>&lt;span&gt;GB82 WEST 1234 5698 7654 32&lt;/span&gt;</code></pre>
      <p>Of course don't forget to import <code>IbanPipe</code> in your component.</p>
      <h3>Validator</h3>
      <pre><code class="language-typescript" highlight>import {{'{'}} ibanValidator &#125; from "ngx-iban";

new FormControl("", ibanValidator());</code></pre>
    </section>
  </div>
</div>
