on:
  push:
    tags:
      - '**'

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
          registry-url: https://registry.npmjs.org
      - run: pnpm install
      - run: npx nx run ngx-iban:build
      - run: |
          cp -v README.md LICENSE.md ./dist/ngx-iban
          npm publish ./dist/ngx-iban --access public
